<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvto1U8uY6lJbVa-sOKfdi6oBtYQU3w-w</string>
	<key>GCM_SENDER_ID</key>
	<string>789021436362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedsokker.MaintenanceApp</string>
	<key>PROJECT_ID</key>
	<string>bauereg-bc3ce</string>
	<key>STORAGE_BUCKET</key>
	<string>bauereg-bc3ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789021436362:ios:7f07e277af63f3753d0733</string>
</dict>
</plist>